<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세화면</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
  </head>
  <body>
    <article>
      <h2>제목 : {{ post.title }}</h2>
      {% if post.photo %}
      <p>
        <img src="{{post.photo.url}}" />
      </p>
      {% endif %}
      <p>작성자: {{ user_name }} 나이: {{ user_age }} 지역: {{post.region}}</p>
      <p>{{post.price}} 원</p>
      <div>{{post.content}}</div>
      <div>
        {% for post in all_post %}
        <a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a>
        {% endfor %}
      </div>
    </article>

    <div>업데이트 : <a href="{% url 'posts:update' post.id %}">update</a></div>
    <div>삭제 : <a href="{% url 'posts:delete' post.id %}">delete</a></div>

    <!-- <form action="/delete/{{post.id}}" method="post">
      {% csrf_token %}
      <button>삭제</button>
    </form> -->

    <div>홈 화면으로 가기: <a href="{% url 'posts:home' %}">Home</a></div>
  </body>
</html>
